@page
@model WebAppCustom.Pages.CustomersModel
@{
    ViewData["Title"] = "Customers";
}



<p asp-page-handler=RowSelect>Test Customers</p>
    
<form method="post">
    <input type="submit" value="Create" class="btn btn-primary" />


<table class="table table-hover">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Дата Рождения</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.listClients is null)
        {
            <tr>Data is null</tr>
        }
        else
        {
            var result = Model.listClients.Join(Model.infoClients,
                                    c => c.ID,
                                    s => s.Client_id,
                                    (c, s) => new
                                    {
                                        ID = c.ID,
                                        infoClientID = s.ID,
                                        FirstName = c.FirstName,
                                        LastName = c.LastName,
                                        Patronymic = c.Patronymic,
                                        Email = s.Email,
                                        Phone = s.Phone,
                                        DateOfBirth = s.DateOfBirth
                                    });
            @foreach (var client in result)
            {
                 <tr>
                     @*onclick="location.href='@(Url.Action("Customers", new {newID = client.ID}))'"*@
                    <td>@client.FirstName</td>
                    <td>@client.LastName</td>
                    <td>@client.Patronymic</td>
                    <td>@client.Email</td>
                    <td>@client.Phone</td>
                    <td>@client.DateOfBirth</td>
                    @*<td>@client.DateShop</td>
                    <td>@client.SumShop</td>
                    <td>@client.PictureShop</td>*@
                    <td>
                        <a class="btn btn-success" asp-page="Operations/EditClient" asp-route-id="@client.ID">Edit</a>
                        <input type="submit" asp-page-handler=DeleteClient value="Delete" class="btn btn-danger" asp-route-id=@client.infoClientID/>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Изображение</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


 <!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Заголовок модального окна</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
              </div>
              <div class="modal-body">

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Сохранить изменения</button>
              </div>
            </div>
          </div>
</div>
</form>

