@page
@model WebAppCustom.Pages.ShoppingModel
@{
    ViewData["Title"] = "Shopping";
}

<p>Test Shopping</p>

<form method="post">
    <input type="submit" value="Add Order" class="btn btn-primary" />


<table class="table table-hover">
    <thead>
        <tr>
            @*<th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>*@
            <th href="#" class="list-group-item list-group-item-action">Дата заказа</th>
            <th>Сумма заказа</th>
            <th>Изображение чека</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.shops is null)
        {
            <tr>Data is null</tr>
        }
        else
        {
            @*var result = Model.listClients.Join(Model.shops,
                    c => c.ID,
                    s => s.Client_id,
                    (c, s) => new
                    {
                        ID = c.ID,
                        FirstName = c.FirstName,
                        LastName = c.LastName,
                        Patronymic = c.Patronymic,
                        DateShop = s.DateShop,
                        SumShop = s.SumShop,
                        PictureShop = s.PictureShop
                    });*@
            @foreach (var client in Model.shops)
            {
                <tr>
                    @*<td>@client.FirstName</td>
                    <td>@client.LastName</td>
                    <td>@client.Patronymic</td>*@
                    @*<td>@client.Email</td>
                    <td>@client.Phone</td>
                    <td>@client.DateOfBirth</td>*@
                    <td>@client.DateShop</td>
                    <td>@client.SumShop</td>
                    <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">@client.PictureShop</button></td>
                    <td>
                        <a class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
                        <!-- Модальное окно -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Заголовок модального окна</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
              </div>
              <div class="modal-body">
                @*<img src="data:image;base64,@System.Convert.ToBase64String(img.ImageItem)" class="img-tests"/>*@
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Сохранить изменения</button>
              </div>
            </div>
          </div>
        </div>

    </tbody>
</table>
</form>